<form action="" class="form-control  container w-50 mb-2 mt-2 text-center"  [formGroup]="addProductForm" (ngSubmit)="addNewProduct()">
    <input formControlName="id" type="number" class="mb-2 container form-control" name="p1" id="pid" placeholder=" ID"  style="text-transform: capitalize;"><br>
    <input formControlName="productName" type="text" class="mb-2 container form-control" name="p2" id="pname" placeholder=" Product name" style="text-transform: capitalize;"><br>
    <input formControlName="categoryId" type="number"  class="mb-2 container form-control" name="p3" id="pcid" placeholder=" Category ID" style="text-transform: capitalize;"><br>

    <input formControlName="description" type="text" class="mb-2 container form-control" name="p4" id="pdesc" placeholder=" description" style="text-transform: capitalize;"><br>

    <input formControlName="price" type="number" class="mb-2 container form-control" name="p5" id="pprice" placeholder=" price" style="text-transform: capitalize;"><br>

    <input formControlName="is_available" type="text" class="mb-2 container form-control" name="p6" id="pavailable" placeholder=" available" style="text-transform: capitalize;"><br>

    <input formControlName="productImg" type="text" class="mb-2 container form-control" name="p7" id="pimage" placeholder=" image url" style="text-transform: capitalize;"><br>
    <input formControlName="rating" type="number" class="mb-2 container form-control" name="p8" id="prating" placeholder=" rating" style="text-transform: capitalize;"><br>
    <input formControlName="review" type="number" class="mb-2 container form-control" name="p9" id="preview" placeholder=" review" style="text-transform: capitalize;"><br>

    <input formControlName="vendor_name" type="text" class="mb-2 container form-control " name="p10" id="pvname" placeholder=" vendor name" style="text-transform: capitalize;"><br>
    <input formControlName="warranty" type="number" class="mb-2 container form-control" name="p11" id="pwarranty" placeholder=" warranty" style="text-transform: capitalize;"><br>


    <button class="btn btn-success "> Add Product</button>
</form>