<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src={{productdata.productImg}} alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">Product ID: {{productdata.id}}</div>
                <h1 class="display-5 fw-bolder" style="text-transform: capitalize;">{{productdata.productName}}</h1>
                <div class="fs-5 mb-3">
                    <span class=""> ₹ {{productdata.price}}</span><br><br>
                    <!-- <span>$40.00</span> -->
                    <span>Rating : {{productdata.rating}}</span><br>
                    <span>Review : {{productdata.review}}</span>
                </div>
                <p class="lead" style="text-transform: capitalize;">{{productdata.description}}</p>

                <button class="btn btn-light flex-shrink-0 me-3 border border-primary  " type="button">
                        
                    <a class="text-primary" style=" text-decoration: none;" href="product/edit-product/{{productdata.id}}">Edit</a>
                </button>
                <button class="btn btn-light  flex-shrink-0 me-3 border border-danger " type="button">
                   
                    <a class="text-danger" style=" text-decoration: none;" href="product/delete-product/{{productdata.id}}">Delete</a>
                </button><br><br>
               
            </div>
        </div>
    </div>
</section>
